common --enable_bzlmod
common --color="yes"
common --repo_env="BAZEL_CXXOPTS=-std=c++23"
build --action_env="CC=/bin/g++-11"
build --compilation_mode="dbg"
build --copt="-D_GLIBCXX_DEBUG -O0"
# build --compilation_mode="opt"
